.spellCard {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color:#EEE;
    color: black;
    margin-top: 1%;
}

.spellCardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}